.header {
    border: 5px solid orange;
    max-height: 300px;
    padding: 50px;
    margin: 0 auto;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.7rem;
}

.pending {
    text-decoration: unset;
    color: white;
}

.active {
    text-decoration: unset;
    color: gold;
}

.logoImg {
    max-width: 300px;
}