* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

.app-wrapper {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.undefined-route {
    display: inline-block;
    padding: 30px;
    margin: auto;
    border: 10px solid red;
    background-color: black;
    font-size: 100px;
    color: red;
}